:root {
    --color-light: rgb(197,227,192);        /* for items on background */
    --color-light-second: rgb(157,187,152); 
    --color-textOnLight: rgb(0,43,55);      /* text on light */
    --color-dark: rgb(0,30,8);              /* for items that deserve focus */
    --color-verylight: rgb(240,240,236);    /* for unhovered buttons */
    --color-white: rgb(255,255,255);        /* for background */
    --color-grey: rgb(32,32,32);            /* for other items on background */
    --color-black: rgb(0,0,0);              /* for viewport circles */
    --color-textOnVeryLight: rgb(49, 41, 23);
}

@font-face {
    font-family: 'Omnes';
    src: url('./assets/Omnes%20Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: default;
    font-family: 'Omnes', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('./assets/planetarium_zwart.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#menuBar{ 
    position: fixed;
    left: 13vw;
    top: 0;
    width: 47vw;
    height: 10vh;
    background-color: var(--color-white);
    color: var(--color-dark);
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.4vw;
    padding: 1vh;
    box-sizing: border-box;
}
#elementMenuBar{ 
    position: fixed;
    right: 0vw;
    top: 0;
    width: 30vw;
    height: 10vh;
    background-color: var(--color-white);
    color: var(--color-dark);
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.4vw;
    padding: 1vh;
    box-sizing: border-box;
}
.menuBar-item {
    width: auto;
    height: 8vh;
    background-color: var(--color-verylight);
    color: var(--color-textOnVeryLight);
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 2vh;
}


.menuBar-item:first-child {
    border-top-left-radius: 4vh;
    border-bottom-left-radius: 4vh;
}

.menuBar-item:last-child {
    border-top-right-radius: 4vh;
    border-bottom-right-radius: 4vh;
}

#logo {
    position: fixed;
    left:0vw;
    top: 0;
    width: 13vw;
    height: 10vh;
    background-image: url('./assets/planetarium_zwart.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#sideBar{ 
    position: fixed;
    left: 0;
    top: 10vh;
    width: 13vw;
    height: 90vh;
    background-color: var(--color-white);
    color: var(--color-dark);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    box-sizing: border-box;
}


.sideBar-item {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--color-verylight);
    color: var(--color-dark);
    border-radius: 8px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sideBar-item:hover {
    background-color: var(--color-light);
    outline: 1px solid var(--color-dark);
}
.sideBar-item::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    border-radius: 50%;
}


#viewport { 
    position: fixed;
    left: 13vw;
    top: 10vh;
    width: 47vw;
    height: 80vh;
    border-radius: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-light);
    color: var(--color-dark);
}
#viewport::before {
    content: '';
    width: min(45vw, 78vh);
    height: min(45vw, 78vh);
    background-color: var(--color-black);
    border-radius: 50%;
}


#elementBar {
    position: fixed;
    right: 30vw;
    top: 0vh;
    width: 10vw;
    height: 90vh;
    background-color: var(--color-white);
    color: var(--color-dark);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    box-sizing: border-box;
}


.elementBar-item {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--color-verylight);
    color: var(--color-dark);
    border-radius: 8px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.elementBar-item:hover {
    background-color: var(--color-light);
    outline: 1px solid var(--color-dark);
}

#editingOptionBar {
    position: fixed;
    right: 0;
    top: 10vh;
    width: 30vw;
    height: 80vh;
    border-radius: 3vw 0 0 3vw;
    background-color: var(--color-light);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    box-sizing: border-box;
    overflow-y: auto;
}

.editingOptionBar-item {
    width: 100%;
    min-height: auto;
    background-color: var(--color-verylight);
    color: var(--color-dark);
    border-radius: 8px;
    flex-shrink: 0;
    padding: 15px;
    box-sizing: border-box;
}

#timeLine {
    position: fixed;
    right: 0;
    top: 90vh;
    width: 87vw;
    height: 10vh;
    border-radius: 3vw 0 0 0;
    background-color: var(--color-dark);
    color: var(--color-white);
}


.majorButton:hover {
    background-color: var(--color-light);
    color: var(--color-textOnLight);
    cursor: pointer;
}
.majorButton:active {
    background-color: var(--color-light-second);
}

.minorButton:hover {
    cursor: pointer;
}

.minorButton:active {
    background-color: var(--color-light-second);
}

.pressable:hover {
    cursor: pointer;
}
.pressable:active {
    background-color: var(--color-light-second);
}




/* Form Control Styles */
.option-label {
    display: block;
    margin-bottom: 5px;
    color: var(--color-dark);
}

.slider-container {
    display: flex;
    gap: 0.5vw;
    align-items: center;
}

.slider-value-box {
    width: 3vw;
    padding: 0.3vw;
}

.slider-input {
    flex: 1;
}

.double-slider-row {
    display: flex;
    gap: 0.5vw;
    align-items: center;
    margin-bottom: 5px;
}

.double-slider-label {
    width: 3.5vw;
}

.text-input,
.number-input,
.dropdown-select {
    width: 100%;
    padding: 0.4vw;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.toggle-container {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.toggle-checkbox {
    width: 1vw;
    height: 1vw;
    cursor: pointer;
}

.toggle-label {
    cursor: pointer;
}

/* Remove spinner arrows from number inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
  appearance: textfied;
  -moz-appearance: textfield;
}

.selected{
    background-color: var(--color-light);
    outline: 1px solid var(--color-dark);
}