#canvas{
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 10;


}

#controls {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 5px;
    color: white;
    font-family: monospace;
    z-index: 10;
}

#controls label {
    display: block;
    margin: 10px 0;
}

#controls input[type="range"] {
    width: 200px;
    margin-left: 10px;
}

#circle{
    position: absolute;
    top: 100px;
    left: 100px;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.443);
    z-index: 1;

}